<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68995879493-168n17dvi8hitfuuqvlcc3fl1eatnnib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68995879493-168n17dvi8hitfuuqvlcc3fl1eatnnib</string>
	<key>API_KEY</key>
	<string>AIzaSyDL69-G5xJQgpsuJ8or5qut_LyscA6A6GU</string>
	<key>GCM_SENDER_ID</key>
	<string>68995879493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNTask</string>
	<key>PROJECT_ID</key>
	<string>rntask-c6144</string>
	<key>STORAGE_BUCKET</key>
	<string>rntask-c6144.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68995879493:ios:54a7f91a19295e59acc92c</string>
</dict>
</plist>